In [1]:
import pandas as pd

In [2]:
# Read the CSV file
data = pd.read_csv('myData.csv')

In [3]:
# To display the first few rows 
data.head()

,Status of existing checking account,Duration,Credit history,Purpose,Credit Amount,Savings account/bonds,Present employment since,Installment rate in percentage of dispsable income,Personal status and sex,Other debtors / guarantors,...,Property,Age,Other installment plans,Housing,Number of Existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,foreign worker,loan status
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [4]:
data.isna().sum()

Status of existing checking account                         0
Duration                                                    0
Credit history                                              0
Purpose                                                     0
Credit Amount                                               0
Savings account/bonds                                       0
Present employment since                                    0
Installment rate in percentage of dispsable income          0
Personal status and sex                                     0
Other debtors / guarantors                                  0
Present residence since                                     0
Property                                                    0
Age                                                         0
Other installment plans                                     0
Housing                                                     0
Number of Existing credits at this bank                     0
Job                                                         0
Number of people being liable to provide maintenance for    0
Telephone                                                   0
foreign worker                                              0
loan status                                                 0
dtype: int64

In [8]:
#Identifying te Target Variable
target_variable = data['loan status']
dataset = data.drop(columns = ['loan status'])

In [9]:
# Removing the uncessary columns
columns_to_remove = ['Other installment plans', 'Number of Existing credits at this bank','Number of people being liable to provide maintenance for','Telephone','Personal status and sex','Present residence since']
dataset = dataset.drop(columns=columns_to_remove)

In [10]:
# Chancing colums names to provide consistent naming for column names following CamelCase principles and making them easily to understand by shortening
new_column_names = {
    'Status of existing checking account': 'accountStatus',
    'Duration': 'duration',
    'Credit history' : 'creditHistory',
    'Purpose' : 'purpose',
    'Credit Amount' : 'creditAmount',
    'Savings account/bonds' : 'savings',
    'Present employment since' : 'employmentStatus',
    'Installment rate in percentage of dispsable income' : 'installmentRate',
    'Other debtors / guarantors' : 'guarantors',
    'Property' : 'property',
    'Age' : 'age',
    'Housing' : 'housing',
    'Job' : 'job',
    'foreign worker' : 'foreignWorker',
    'loan status' : 'loanStatus'
}
dataset = dataset.rename(columns=new_column_names)
print(dataset)

    accountStatus  duration creditHistory purpose  creditAmount savings  \
0             A11         6           A34     A43          1169     A65
1             A12        48           A32     A43          5951     A61
2             A14        12           A34     A46          2096     A61
3             A11        42           A32     A42          7882     A61
4             A11        24           A33     A40          4870     A61
..            ...       ...           ...     ...           ...     ...
995           A14        12           A32     A42          1736     A61
996           A11        30           A32     A41          3857     A61
997           A14        12           A32     A43           804     A61
998           A11        45           A32     A43          1845     A61
999           A12        45           A34     A41          4576     A62

    employmentStatus  installmentRate guarantors property  age housing   job  \
0                A75                4       A101     A121   67    A152  A173
1                A73                2       A101     A121   22    A152  A173
2                A74                2       A101     A121   49    A152  A172
3                A74                2       A103     A122   45    A153  A173
4                A73                3       A101     A124   53    A153  A173
..               ...              ...        ...      ...  ...     ...   ...
995              A74                3       A101     A121   31    A152  A172
996              A73                4       A101     A122   40    A152  A174
997              A75                4       A101     A123   38    A152  A173
998              A73                4       A101     A124   23    A153  A173
999              A71                3       A101     A123   27    A152  A173

    foreignWorker
0            A201
1            A201
2            A201
3            A201
4            A201
..            ...
995          A201
996          A201
997          A201
998          A201
999          A201

[1000 rows x 14 columns]

In [22]:
# A check point to display values for categories
for column in categorical_columns:
    print(f"Unique values for {column}: {final_dataset[column].unique()}")

Unique values for accountStatus: ['A11', 'A12', 'A14', 'A13']
Categories (4, object): ['A11', 'A12', 'A13', 'A14']
Unique values for creditHistory: ['A34', 'A32', 'A33', 'A30', 'A31']
Categories (5, object): ['A30', 'A31', 'A32', 'A33', 'A34']
Unique values for purpose: ['A43', 'A46', 'A42', 'A40', 'A41', 'A49', 'A44', 'A45', 'A410', 'A48']
Categories (10, object): ['A40', 'A41', 'A410', 'A42', ..., 'A45', 'A46', 'A48', 'A49']
Unique values for savings: ['A65', 'A61', 'A63', 'A64', 'A62']
Categories (5, object): ['A61', 'A62', 'A63', 'A64', 'A65']
Unique values for employmentStatus: ['A75', 'A73', 'A74', 'A71', 'A72']
Categories (5, object): ['A71', 'A72', 'A73', 'A74', 'A75']
Unique values for guarantors: ['A101', 'A103', 'A102']
Categories (3, object): ['A101', 'A102', 'A103']
Unique values for property: ['A121', 'A122', 'A124', 'A123']
Categories (4, object): ['A121', 'A122', 'A123', 'A124']
Unique values for housing: ['A152', 'A153', 'A151']
Categories (3, object): ['A151', 'A152', 'A153']
Unique values for job: ['A173', 'A172', 'A174', 'A171']
Categories (4, object): ['A171', 'A172', 'A173', 'A174']
Unique values for foreignWorker: ['A201', 'A202']
Categories (2, object): ['A201', 'A202']

In [15]:
# Coding categorical variables using One-Hot Encode 
dataset = pd.get_dummies(data=dataset)
print(dataset)

     duration  creditAmount  installmentRate  age  accountStatus_A11  \
0           6          1169                4   67               True
1          48          5951                2   22              False
2          12          2096                2   49              False
3          42          7882                2   45               True
4          24          4870                3   53               True
..        ...           ...              ...  ...                ...
995        12          1736                3   31              False
996        30          3857                4   40               True
997        12           804                4   38              False
998        45          1845                4   23               True
999        45          4576                3   27              False

     accountStatus_A12  accountStatus_A13  accountStatus_A14  \
0                False              False              False
1                 True              False              False
2                False              False               True
3                False              False              False
4                False              False              False
..                 ...                ...                ...
995              False              False               True
996              False              False              False
997              False              False               True
998              False              False              False
999               True              False              False

     creditHistory_A30  creditHistory_A31  ...  property_A124  housing_A151  \
0                False              False  ...          False         False
1                False              False  ...          False         False
2                False              False  ...          False         False
3                False              False  ...          False         False
4                False              False  ...           True         False
..                 ...                ...  ...            ...           ...
995              False              False  ...          False         False
996              False              False  ...          False         False
997              False              False  ...          False         False
998              False              False  ...           True         False
999              False              False  ...          False         False

     housing_A152  housing_A153  job_A171  job_A172  job_A173  job_A174  \
0            True         False     False     False      True     False
1            True         False     False     False      True     False
2            True         False     False      True     False     False
3           False          True     False     False      True     False
4           False          True     False     False      True     False
..            ...           ...       ...       ...       ...       ...
995          True         False     False      True     False     False
996          True         False     False     False     False      True
997          True         False     False     False      True     False
998         False          True     False     False      True     False
999          True         False     False     False      True     False

     foreignWorker_A201  foreignWorker_A202
0                  True               False
1                  True               False
2                  True               False
3                  True               False
4                  True               False
..                  ...                 ...
995                True               False
996                True               False
997                True               False
998                True               False
999                True               False

[1000 rows x 49 columns]

In [16]:
# Remove rows with Null values / theres none
dataset = dataset.dropna()
print(dataset)

     duration  creditAmount  installmentRate  age  accountStatus_A11  \
0           6          1169                4   67               True
1          48          5951                2   22              False
2          12          2096                2   49              False
3          42          7882                2   45               True
4          24          4870                3   53               True
..        ...           ...              ...  ...                ...
995        12          1736                3   31              False
996        30          3857                4   40               True
997        12           804                4   38              False
998        45          1845                4   23               True
999        45          4576                3   27              False

     accountStatus_A12  accountStatus_A13  accountStatus_A14  \
0                False              False              False
1                 True              False              False
2                False              False               True
3                False              False              False
4                False              False              False
..                 ...                ...                ...
995              False              False               True
996              False              False              False
997              False              False               True
998              False              False              False
999               True              False              False

     creditHistory_A30  creditHistory_A31  ...  property_A124  housing_A151  \
0                False              False  ...          False         False
1                False              False  ...          False         False
2                False              False  ...          False         False
3                False              False  ...          False         False
4                False              False  ...           True         False
..                 ...                ...  ...            ...           ...
995              False              False  ...          False         False
996              False              False  ...          False         False
997              False              False  ...          False         False
998              False              False  ...           True         False
999              False              False  ...          False         False

     housing_A152  housing_A153  job_A171  job_A172  job_A173  job_A174  \
0            True         False     False     False      True     False
1            True         False     False     False      True     False
2            True         False     False      True     False     False
3           False          True     False     False      True     False
4           False          True     False     False      True     False
..            ...           ...       ...       ...       ...       ...
995          True         False     False      True     False     False
996          True         False     False     False     False      True
997          True         False     False     False      True     False
998         False          True     False     False      True     False
999          True         False     False     False      True     False

     foreignWorker_A201  foreignWorker_A202
0                  True               False
1                  True               False
2                  True               False
3                  True               False
4                  True               False
..                  ...                 ...
995                True               False
996                True               False
997                True               False
998                True               False
999                True               False

[1000 rows x 49 columns]

In [17]:
#Saving the dataset and target_variable variables 
dataset.to_csv("X.csv", index=False)
target_variable.to_csv("y.csv", index=False)

In [18]:
target_variable.value_counts()

loan status
1    700
2    300
Name: count, dtype: int64